body{
    font-family:  "M PLUS Rounded 1c" ;
    background-color: mediumslateblue;
    color: #FDFFFF;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}

button{
    font-family:  "M PLUS Rounded 1c" ;
    padding: 5px 20px;
    background-color: midnightblue;
    color: #FDFFFF;
    border-style: none;
}

input{
    height: 20px;
}
